# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Push the artefact to S3 bucket
      uses: koraykoska/s3-upload-github-action@master
      id: upload
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: 'us-east-1'
        aws-bucket: ${{ secrets.S3_BUCKET_NAME }}
        file-path: '/home/runner/work/obs/obs/target/obs-0.0.1-SNAPSHOT.jar'
        output-file-url: 'true'
    - name: Show URL
      run: echo '${{ steps.upload.outputs.file-url }}'

